* {
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    background-color: rgba(2, 4, 66, 0.95);
}

section {
    display: flex;
    justify-content: center;
    margin-block: 15%;
    margin-inline: 10px;
    gap: 10px;
}

div:not(.btns, fieldset>div) {
    width: 35%;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    background-color: #020860;
}

input {
    height: 27px;
    background-color: #05366e;
    font-size: 1.2em;
    border: 1px solid black;
}

input::placeholder,textarea::placeholder {
    color: black;
}

textarea {
    background-color: #05366e;
    font-size: 1.2em;
    border: 1px solid black;
    resize: none;
}

fieldset {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    border: 1px solid black;
    background-color: #05366e;
}

label {
    font-size: 1.5em;
}

input[type='radio'] {
    width: 40px;
    height: 20px;
    cursor: pointer;
    border: 1px solid black;
    background-color: red;
}

.btns {
    display: flex;
}

button {
    cursor: pointer;
    height: 30px;
    width: 50%;
    font-size: 1.2em;
    background-color: #090980;
    border: 1px solid black;
    text-align: balance;
}

.generator-box {
    grid-gap: 11%;
}

footer {
    border: 1px solid black;
}

footer > p{
    color: #717171;
}

/* Animation */

.message-box {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #717171;
    border-radius: 50px;
}

.disappear {
    animation-name: disappearing-message;
    animation-duration: 4s;
}

@keyframes disappearing-message {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@media screen and (max-width:768px) {
    section {
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-block: 10%;
        gap: 10px;
    }

    div:not(.btns, fieldset>div) {
        width: 100%;
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        background-color: #020860;
    }

    input {
        width: 100%;
        height: 27px;
        background-color: #05366e;
        font-size: 1.2em;
        border: 1px solid black;
    }

    input::placeholder {
        color: black;
    }

    fieldset {
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        border: 1px solid black;
        background-color: #05366e;
    }

    label {
        font-size: 1.5em;
    }

    input[type='radio'] {
        width: 40px;
        height: 20px;
        cursor: pointer;
        border: 1px solid black;
        background-color: red;
    }
}